<h5 class="card-title">{{itemCategory.name}}</h5>
<div class="table-responsive">
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col" style="width: 35%;">Name</th>
      <th scope="col" style="width: 35%;">Comments</th>
      <th scope="col" style="width: 5%;">Suggested</th>
      <th scope="col" style="width: 10%;">My stash</th>
      <th scope="col" style="width: 5%" class="text-right">N/A</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let item of itemCategory.items" [characterClass]="characterClass" [item]="item" class-item></tr>
    </tbody>
  </table>
</div>

