<h5 class="card-title">{{itemCategory.name}}</h5>
<div class="table-responsive">
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col" style="width: 15%x"></th>
      <th scope="col" style="width: 30%;">Name</th>
      <th scope="col" style="width: 30%;">Comments</th>
      <th scope="col" style="width: 15%;">Suggested</th>
      <th scope="col" style="width: 15%;">My stash</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let item of itemCategory.items" [characterClass]="characterClass" [item]="item" class-item></tr>
    </tbody>
  </table>
</div>

