@import "~bootstrap/scss/bootstrap-grid.scss";
.content {
  margin: 2% 10% 2% 10%;
}

@include media-breakpoint-down(md) {
    .content {
      margin: 0;
    }
}

.menu-icon {
  width: 30px;
  height: 30px;
}

.menu-text {
  margin-left: 5px;
}


